---
const year = new Date().getFullYear();

---
<footer class="px-6 pb-8 pt-8">
    <div class="mx-auto flex max-w-4xl flex-col items-center justify-between gap-4 rounded-3xl border border-border bg-white px-6 py-4 sm:flex-row">
    <span class="font-mono text-xs text-foreground">Build with love &#9829;</span>    
    <span class="font-mono text-xs text-foreground">
        By Luis Palma - {year}
    </span>    
</div>
</footer>